*{
	margin: 0;
	padding: 0;
	color: white;
	font-weight: bold;
}

.topFix{
	position: static;
	background-color: gray;
	padding-top: 3vh;
	padding-bottom: 2vh;
}

body{
	text-align: center;
}

button{
	margin-top: 5vh;
	width: 70vw;
	height: 5vh;
	background-color: green;
	border: none;
}

label, input[type="text"]{
	color: black;
}